* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

html {
  overflow-x: hidden;
}

.heading-img-and-logo {
  display: flex;
  justify-content: center;
}

.heading-image {
  position: absolute;
  width: 100%;
}

.c-logo {
  margin: 123px 125px;
}

.first-header {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #4c545c;
  padding: 0 32px;
  margin-top: -60px;
}

.description {
  font-family: "Bai Jamjuree";
  width: 374px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #9eabb2;
  padding: 16px 32px;
  margin: 0 auto;
}

.download-buttons {
  width: 375px;
  margin: 0 auto;
}

.button {
  position: relative;
  z-index: 10;
  padding: 13px 50px;
  background: #26bba4;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: rgb(122, 171, 188);
}

.ios {
  margin-top: 36px;
}

.mac {
  background: #6174ff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  margin-top: 24px;
}

.mac:hover {
  background-color: rgb(122, 171, 188);
}

.ios-text {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.second-header {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #4c545c;
  margin-top: 160px;
  padding-left: 32px;
  padding-right: 32px;
}

.description2 {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #9eabb2;
  margin: 16px auto;
  padding-left: 32px;
  padding-right: 32px;
}

.computer-div {
  display: flex;
  justify-content: center;
}

.computer {
  margin-top: 65px;
}

.articles {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #4c545c;
  margin-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.article1 {
  margin-top: 56px;
}

.descriptions {
  width: 400px;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #9eabb2;
  margin: 10px auto;
  padding-left: 32px;
  padding-right: 32px;
}

.article2 {
  margin-top: 186px;
}

.devices-div {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.article3 {
  margin-top: 0px;
}

.icon-div {
  display: flex;
  justify-content: center;
}

.icon {
  margin-top: 90px;
}

.google-div {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
  margin-top: 57px;
}

.google {
  margin-top: 131px;
  margin-left: 0px;
}

.last-article {
  font-size: 28px;
  margin-top: 170px;
}

.footer {
  background-color: lightgray;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-top: 170px;
}

.footer-and-logo {
  display: flex;
  justify-content: center;
}

.last-logo {
  width: 45px;
}

.links {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #4c545c;
  margin-top: 20px;
  cursor: pointer;
}

.links:hover {
  color: #26bba4;
  transition: 0.5s;
}

.faq {
  margin-top: 40px;
}

.icons-div {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.icons {
  margin-top: 50px;
  cursor: pointer;
}

.fb:hover {
  filter: invert(10%) sepia(91%) saturate(7498%) hue-rotate(248deg)
    brightness(86%) contrast(145%);
}

.twitter:hover {
  filter: invert(81%) sepia(19%) saturate(959%) hue-rotate(165deg)
    brightness(93%) contrast(99%);
}

.instagram:hover {
  filter: invert(27%) sepia(82%) saturate(5983%) hue-rotate(353deg)
    brightness(99%) contrast(132%);
}

@media (min-width: 768px) {
  .first-header {
    font-size: 34px;
    line-height: 42px;
  }

  .description {
    width: 500px;
    line-height: 28px;
    font-size: 18px;
    margin-top: 30px;
  }

  .description2 {
    width: 540px;
  }

  .second-header {
    font-size: 30px;
    line-height: 37px;
    margin-top: 100px;
  }

  .computer-div-and-articles {
    display: flex;
    justify-content: center;
  }

  .computer {
    margin-top: -195px;
  }

  .article1 {
    margin-top: 100px;
  }

  .articles {
    font-size: 26px;
    line-height: 32px;
  }

  .descriptions {
    font-size: 18px;
    line-height: 28px;
  }

  .article2 {
    margin-left: -65%;
  }

  .descriptions2 {
    margin-left: -32%;
  }

  .devices {
    width: 70%;
  }

  .icons-and-articles {
    display: flex;
    justify-content: center;
  }

  .icon-and-article2 {
    margin-top: 8px;
  }

  .four-logos {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 60px;
  }

  .last-logo {
    width: 60px;
  }

  .faq {
    font-size: 20px;
    line-height: 32px;
  }
}
